<div>
  <div class="message-header">
    <h1>Schedule List Form Client and Angular</h1>
    <p class="lead">Updated Schedule List...</p>
    <div>Schedule games count: {{ data.schedulelist.length }}</div>
  </div>

  <div class="progress progress-striped active" data-ng-show="isBusy">
    <div class="bar" style="width: 100%;"></div>
  </div>

  <div class="messages">
    <div class="message row" data-ng-repeat="i in data.schedulelist">
      <div class="title span6">
        <a data-ng-href="#/schedule/{{ i.id }}">{{ i.title }}</a>
      </div>
    </div>
  </div>
</div>